@import '../../App.scss';
.custom-dropdown .dropdown-toggle::after {
    display: none; /* Hides the default caret */
  }
  .navbar {
    width: 100%;
  }
  
  
  .role-navbar {
    background-color: #f8f9fa;
    padding: 0.5rem 0;
  }
  
  .nav-link {
    margin: 0 1rem;
    color: #000;
    &:hover {
      color: #007bff;
    }
  }
  .cart-icon{
    
    line-height: 32px;
    margin-right: 20px;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
  }
  .badge{
    top: 0px;
    right: -15px;
  }
  .logo{
    height: 16px;
  }
  
  // .role-navbar{
  //   background-color: $card-bg;
  //   padding-bottom: 0;
  //   padding-top: 0;
  // }
  // .role-navbar .nav-link.active{
  //   border: none;
  //   border-radius: 0;
  //   border-top: 4px solid $primary-color;
  //   font-weight: bold;
  //   text-decoration: none;
  // }
  // .role-navbar .nav-link.active:hover{
  //   text-decoration: none !important;
  // }
  // .bg-body-tertiary{
  //   background-color: $header-bg !important;
  // }
  .site-header .btn-link, .site-header .btn-link .material-icons{
    color: $text-color;
  }
  .site-header .btn-link.active,  .site-header .btn-link.active .material-icons , .site-header .btn-link:hover,.site-header .nav-link:hover,.cart-icon:hover .btn-link{
    color: $link-color;
    font-weight: bold;
  }