// src/components/Button/checkbox.scss
.form-check {
    align-items: center;
    margin-bottom: 15px;
  
    .form-check-input {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;
      appearance: none;
      border: 1px solid #B2B2B2; // default unchecked border color
      border-radius: 50%;
      position: relative;
      transition: background-color 0.3s ease, border-color 0.3s ease;
  
      &:checked {
        background-color: #fff; // background for checked state
        border: 1px solid #FF8A00; // orange border for checked state
  
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          background-color: #FF8A00; // orange dot in the center for checked state
          border-radius: 50%;
        }
      }
    }
  
    .form-check-label {
      font-size: 16px;
      color: #3A445D; // text color
      cursor: pointer;
      vertical-align: text-top;
    }
  }